<div class="container-lg bg-Warning">


	<div class="jumbotron">
		
		<div class="p-5 mb-4 rounded-3 text-center shadow" style="--bs-bg-opacity: .5;" >
	      	<div class="container-fluid py-5 bg-dark bg-opacity-75" >
	      		 <h1 class="display-5 fw-bold">Log in:</h1>
						      		
					<%= form_with model: @user do |f| %>
						<div class="form-group">
							  <%= f.label :email %>
						</div>
						<div class="form-group">
							  <%= f.email_field :email, class: "form-control-lg shadow rounded", placeholder: "Enter your email" %>
						</div>
						<div class="form-group">
							  <%= f.label :password %>
						</div>
						<div class="form-group">
							  <%= f.password_field :password, class: "form-control-lg shadow rounded", placeholder: "Enter password" %>
						</div>
						<p>
							<div class="form-group justify-content-center mt-5">
								  <%= f.submit "log in", class: "btn btn-warning shadow btn-lg" %>
							</div>
						</p>
					<% end %>

	      	</div>
	    </div>
	</div>
</div>