<div class="text-center">
	<% if !@image.accepted %>
		<%= render 'acception_form' %>
	<% end %>
	<div class="container col-md-3 mt-5 shadow">
		<%= image_tag @image.url, class: "img-fluid shadow" %>
	</div>
	<% if @image.uploaded_by? %>
		<div class= "text-dark text-muted">
			Uploaded by <%= User.find(@image.uploaded_by).username %>
		</div>
	<% end %>
	<% if @image.users.any? %>
		<p class="text text-dark mt-1 fs-5"> Users added this image: </p>
		<p> <%= render @image.users %> </p>
	<% end %>
	<div class="grid-container ">
		<div>
			<% if current_user && @image.accepted? %>
				<% if !belongs_to_user? %>
					<%= button_to [:add_image], class: "btn btn-success shadow btn-lg" do%>
						add to collection
					<% end %>
				<% else %>
					<%= button_to [:rmv_image], class: "btn btn-danger shadow btn-lg" do%>
						remove from collection
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div>
			<%= link_to "Back to all images", images_path,  class: "btn shadow btn-warning"%>
		</div>
</div>